/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.App {
  display: flex;
  height: 100vh; /* Full screen height */
}

/* Navbar Styles */
.navbar {
  font-size: 20px;
  background-color: #333;
  color: white;
  padding: 20px;
  width: 250px; /* Fixed width for the navbar */
  height: 100vh; /* Make the navbar fill the screen vertically */
  box-sizing: border-box;
}

.navbar a {
  color: white;
  display: block;
  padding: 10px 0;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #575757;
  padding-left: 10px;
  transition: 0.3s;
}

/* Main Content Styles */
.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box;
  overflow-y: auto;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: white;
  text-align: center;
}

/* Responsive Design for small screens */
@media screen and (max-width: 431px) {
  .App {
    flex-direction: column;
  }

  .navbar {
    width: 100%;
    height: auto;
  }

  .main-content {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

.content {
  flex-grow: 1;
  padding: 50px;
  box-sizing: border-box;
  background-color: #fff;
  overflow-y: auto;
}

@media screen and (max-width: 431px) {
  .navbar {
    font-size: 15px;
  }
}
